*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

#profile{
    border-radius: 50%;
    width: 34px; height: 34px;
}

section{
    position: relative;
    width: 100%; min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

section header{
    position: absolute;
    top: 0;
    width: 100%;
    
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

section header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

section header ul li{
    list-style: none;
    margin-left: 20px;
    font-size: 13.7px;
}

section header ul li a{
    color: #5d5d5d;
    text-decoration: none;
}

section header ul li button{
    background: #4584ef;
    border: none;
    outline: none;
    padding: 8px 14px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

header li > a:hover{
    text-decoration: underline;
}

li > i{
    color: #7e7e7e;
}

li > i:hover{
    color: rgb(0, 0, 0);
    box-shadow: none;
    cursor: pointer;
}

section .main{
    width: 580px;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .main .searchBox{
    position: relative;
    width: 100%;
    margin-top: 5%;
}

section .main .buttons{
    margin-top: 20px;
}

section .main .languages{
    margin-top: 30px;
    list-style: none;
    text-decoration: none;
    
    display: flex;
}

section .main .languages li{
    list-style: none;
    margin: 0 5px;
    font-size: 13px;
}

section .main .languages li a{
    text-decoration: none;
    color: #1a0dab;
}

section .main .languages li a:hover{
    text-decoration: underline;
}

section .main .searchBox .search{
    width: 100%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 60px;
    border-radius: 30px;
    border: 1px solid #e7e7e7;
    outline: none;
    outline-style: none;
    font-size: 16px;
}

.search:hover{
    box-shadow: 0px 0px 3px 1px #d8d8d8be;
    border: hidden;
    outline: none;
    outline-style: hidden;
}

section .main .searchBox .icons{
    position: absolute;
    top: 0;
    margin-top: -18px;
    width: 100%;

    display: flex;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

section .main .searchBox .icons div > i{
    color: #adadad;
    font-size: 20.7px;
    margin-left: -5px;
}

section .main .searchBox .icons div > img{
    margin-right: -12px;
}

.buttons button{
    margin: 0 5px;
    padding: 7px 15px;
    background-color: #fafafa;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
}

.buttons button:hover{
    box-shadow: 0px 0px 3px 0px #a1a1a1be;
}

section .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f2f2f2;
    color: #5f6368;
}

section .footer .row{
    padding: 15px 25px;
    border-top: 1px solid rgba(0,0,0,0.05);
}

section .footer .row.row2{
    display: flex;
    justify-content: space-between;
}

section .footer .row.row2 ul{
    display: flex;
}

section .footer .row.row2 ul li{
    list-style: none;
}

section .footer .row.row2 ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
    margin-right: 25px;
}

section .footer .row.row2 ul:nth-child(2) li a{
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
    margin-right: 0px;
    margin-right: 25px;
}