@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --red:#bd1212;
    --light-red:#cf1414;
    --transparent-black: #000000b4;
    --yellow: #fffd76;
    --white:#fff;
    --black: #000;
}

::selection{
    background: var(--red);
    color: var(--yellow);
}

p,h1,h2,h3,h4,h5,h6,td{
    color: var(--white);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: auto;
}

/* ----------------- MENU RESPONSIVE FIXED ---------------- */

#menu{
    width: 100%;
    position: fixed;
    border-bottom: 6px solid #bd1212;
    padding: 11px 8%;
    background-color: var(--transparent-black);
    -webkit-backdrop-filter:saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

#menu ul li{
    float: left;
    margin: 0px 100px 0px 0px;
    list-style: none;
}

#menu ul #home{
    padding-left: 30px;
}

#menu ul li a{
    list-style: none;
    text-decoration: none;
    color: #cf1414;
    font-size: 19.7px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    flex-grow: 1;
}

#menu ul li a:hover{
    transition: 0.2s;
    box-shadow: 0px 3px 0px#cf1414;
}

#menu ul li a:active{
    transition: 0.2s;
    color: #f01010;
    box-shadow: 0px 3px 0px#f01010;
}

/* ---------------- SECTIONS ------------------ */

#intro{
    width: 100%; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

#cobra{
    height: 757px;
    cursor: pointer;
}

#intro{
    border-bottom: 7px solid #161616;
}

#parallax{
    width: 100%; height: 77vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('/assets/public/img/parallax.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-bottom: 7px solid #161616;
}

#training{
    width: 100%; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #131212;
    border-bottom: 7px solid #161616;
}

#schedule{
    width: 100%; height: 100vh;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
    background-color: var(--black);
    border-bottom: 7px solid #161616;
}

#about{
    width: 100%; height: 100vh;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #131212;
    border-bottom: 7px solid #161616;
}

#sign-in{
    width: 100%; height: 100vh;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
    background-color: var(--black);
    border-bottom: 7px solid #161616;
}



/* ----------------------- SCHEDULE ---------------------- */

#schedule h1{
    font-size: 37px;
    margin-bottom: 17px;
}

#schedule .tournament{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

#schedule .tournament button{
    margin-top: 17px;
    margin-bottom: 27px;
    background-color: #ebda40;
    outline: none;
    border-color: transparent transparent #c7b302 transparent;
    border-bottom: 4px solid #c7b302;
    border-radius: 4px;
    padding: 7px;
    cursor: pointer;
    color: var(--black);
    letter-spacing: 0.07em;
    font-size: 17px;
}

#schedule .tournament button:active{
    background-color: #c7b302;
    color: #000;
    border-top: 2px solid #aa9904;
    position: relative;
    top: 2px;
}

#schedule .tournament img{
    height: 287px;
    cursor: pointer;
    margin: 17px 0px 17px 0px;
}

.table{
    text-align: center;
    grid-column-start: 7;
    grid-row-start: 1;
}

table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border: #aa9904;
    font-size: 17px;
}

table #week td{
    background-color: var(--red);
    color: var(--yellow);
    text-align: center;
}

table tr td{
    color: var(--yellow);
    text-align: center;
    padding: 7px;
}

table tr #Tournament{
    color: var(--white);
    background-color: #ff0000;
}


/* ------------------- ABOUT -------------------- */

#about .sensei > img{
    margin-left: -170px;
}

#about .text{
    color: #f6f9f6;
    text-align: left;
    margin-top: -477px;
    justify-content: center;
    align-items: center;
    height: 120px;
}

#about .text h1{
    margin-bottom: 2px;
    font-size: 30px;
}

#about .text h1:nth-child(1){
    margin-bottom: 20px;
    font-size: 37px;
}

#about .text p{
    font-size: 24px;
}

/* ------------------ LOGIN AREA -------------------- */

#sign-in #sign{
    grid-column-start: 11;
    grid-row-start: 10;
}

#sign{
    background-color: #bd1212;
    padding: 14px 2px 54px 54px;
    width: 570px; height: 407px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 17.7px;
    color: var(--white);
}

#sign h1{
    text-align: center;
    margin-left: -50px;
    margin-bottom: 27.9px;
    font-weight: normal;
    font-size: 30px;
}

#sign a{
 color: var(--white);
 text-decoration: none;
 position: absolute;
 margin-top: 27px;
 font-weight: lighter;
 position: inline-block;
}

#sign a:hover{
    text-decoration: underline;
}

#sign input[type="text"], input[type="password"]{
    outline: none; 
    width: 457px;
    font-size: 30px;
    margin: 7px auto;
    font-family: 'Arial', sans-serif;
}

#sign button{
    margin: 20px 0px 0px 0px ;
    width: 107px; height: 47px;
    font-size: 17px;
    outline: none;
    cursor: pointer;
}

#sign-up{
    outline: none;
    cursor: pointer;
    font-size: 15.7px;
    display: flex;
    justify-self: center;
    align-content: center;
}

#sign-in > #sign-up{
    width: 187px; height: 50px;
    padding: 0px 7px 0px 7px;
    outline: none;
    cursor: pointer;
    grid-column-start: 11;
    grid-row-start: 13;
}

/* -------------------- FOOTER ------------------- */

footer{
    text-align: center;
    background-color: #0f0e0e;
    padding: 7px;
    color: rgb(202, 202, 202);
    font-size: 20px;
}

footer a > i{
    color: #bdbdbd;
    text-decoration: none;
}

footer a > i:hover{
    color: #fff;
}



/* ------------------- TRAINING --------------------- */

#training .images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 17px;
    margin-right: 50px;
    cursor: pointer;
   }
   
   .images img{
       margin: 7px;
       height: 197px;
   }

   #training .text .address{
       margin-top: 27px;
   }

   #training .text h1{
       margin-top: 50px;
       margin-bottom: 17px;
   }

   #training .text p{
       padding-right: 37px;
       margin-bottom: 7px;
   }

   #training .text .address p{
       font-size: 17px;
   }

   #training .text{
     padding: 77px;
   }

   #training .text button#modal-video{
     margin-top: 17px;
     margin-bottom: 27px;
     background-color: var(--red);
     outline: none;
     border-color: transparent transparent #a11010 transparent;
     border-bottom: 4px solid #a11010;
     border-radius: 4px;
     padding: 7px;
     cursor: pointer;
     color: var(--white);
     letter-spacing: 0.07em;
     font-size: 17px;
   }

   #training .text button#modal-video:active{
     background-color: #901010;
     color: #f9f6f6;
     border-color: #660a0a transparent transparent transparent;
     border-top: 2px solid  #660a0a;
     position: relative;
     top: 2px;
   }

   #training .text p{
       font-size: 24px;
   }

   #training .text h1{
       font-size: 37px;
   }

/* ------------------- MEDIA QUERIES ----------------- */
