/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Varela+Round&display=swap');

body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

.square{
    text-align: center;
    width: 70px;
    background-color: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.square:hover{
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
}

.player, .winner{
    font-size: 30px;
    margin-top: 10px;
}

button{
    margin-top: 18px;
    background: transparent;
    border: 2px solid black;
    letter-spacing: 0.7rem;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-size: 17px;
}

@media screen and (max-width: 444px){ /*cellphone*/
    .square{
        width: 20px;
    }
}

@media screen and (max-width: 399px){ /*galaxy fold*/
    .square{
        width: 7px;
    }
}

@media screen and (max-width: 359px){ /*galaxy fold*/
    .square{
        width: 2px;
    }
}